/* 定义sass变量 */
$mainColor: #1a1d2f;
$mainFontColor: #ed265d;
$subColor: #2e324b;

$colorF: #fff;
$colorC: #ccc;
$colorD: #ddd;
$color0: #000;
$color3: #333;
$color6: #666;
$color9: #999;
$colorRed: #f00;

$bgF: #fff;
$bgC: #ccc;
$bgD: #ddd;
$bg0: #000;
$bg3: #333;
$bg6: #666;
$bg9: #999;